@using FribergCarRentalsBravo.Models.Customers
@model CustomerViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Details</h1>
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email):
        </dt>
        <dd>
            <a class="route-links-table" href="mailto:@(Model.Email)">@(Model.Email)</a>
        </dd>
    </dl>
    <div>
        <a class="route-links-table" asp-action="Edit" asp-route-id="@Model?.CustomerId">Edit</a>
        <a class="route-links-table" asp-action="Index" asp-controller="AdminCustomer">Back to List</a>
    </div>
</div>
