@using FribergCarRentalsBravo.Models.Customers
@model CustomerViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="vertical-page-container">
    <h1>Details</h1>
    <dl class="row filled-container">
        <dt>
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email):
        </dt>
        <dd>
            <a href="mailto:@(Model.Email)">@(Model.Email)</a>
        </dd>
    </dl>
    <div>
        <a class="btn btn-primary" asp-action="Edit" asp-route-id="@Model?.CustomerId">Edit</a>
        <a class="btn btn-primary" asp-action="Index" asp-controller="AdminCustomer">Back to List</a>
    </div>
</div>
