@using FribergCarRentalsBravo.DataAccess.Entities
@model Customer

@{
    ViewData["Title"] = "Details";
}



<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Details</h1>
    <hr />
    <dl class="row filled-container">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Password)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Password)
        </dd>
    </dl>
    <div>
        <a asp-action="Edit" asp-route-id="@Model?.CustomerId">Edit</a> |
        <a asp-action="Index" asp-controller="AdminCustomer">Back to List</a>
    </div>
</div>
