@using FribergCarRentals.Models.Other
@using FribergCarRentalsBravo.Models.Customers
@model ListViewModel<CustomerViewModel>

@{
    ViewData["Title"] = "Customers";
}

<h1>Customers</h1>

<p>
    <a class="route-links-table" asp-action="Create" asp-controller="AdminCustomer">Create Customer</a>
</p>
@if (Model.Count <= 0)
{
    <p class="text-align-center">No customers found.</p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Models[0].CustomerId)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Models[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Models[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Models[0].Email)
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var customer in Model.Models)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => customer.CustomerId)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customer.FirstName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => customer.LastName)
                    </td>
                    <td>
                        <a class="route-links-table" href="mailto:@(customer.Email)">@(customer.Email)</a>
                    </td>
                    <td>
                        <a class="route-links-table" asp-action="Edit" asp-controller="AdminCustomer" asp-route-id="@customer.CustomerId">Edit</a>
                        <a class="route-links-table" asp-action="Details" asp-controller="AdminCustomer" asp-route-id="@customer.CustomerId">Details</a>
                    </td>
                    <td class="td-end">
                        <form asp-action="Delete" onsubmit="return confirm('Are you sure you want to delete this customer?');">
                            <input type="hidden" name="id" value="@customer.CustomerId" asp-for="@customer.CustomerId" />
                            <button type="submit" class="btn btn-danger">Delete</button>
                        </form> 
                    </td>
                </tr>
            }
        </tbody>
    </table>
}
