@using FribergCarRentals.Models.Other
@using FribergCarRentalsBravo.Models.Cars
@model ListViewModel<CarCategoryViewModel>

@{
    ViewData["Title"] = "Car Categories";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Car Categories</h1>
    <p>
        <a asp-action="Create">Create Category</a>
    </p>
    @if (Model.Count <= 0)
    {
        <p class="text-align-center">No categories found.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Models[0].CategoryName)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var category in Model.Models)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => category.CategoryName)
                        </td>
                        <td>
                            <div class="d-flex gap-1">
                                <a asp-action="Edit" asp-route-id="@category.CategoryId">Edit</a>
                                <a asp-action="Details" asp-route-id="@category.CategoryId">Details</a>
                                <form asp-action="Delete" onsubmit="return confirm('Are you sure you want to delete this category?');">
                                    <input type="hidden" name="id" value="@category.CategoryId" asp-for="@category.CategoryId" />
                                    <button type="submit" class="btn btn-danger">Delete</button>
                                </form>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
