@using FribergCarRentalsBravo.Models.Customers
@model CustomerViewModel

@{
    ViewData["Title"] = "Back Office";
}

<h1>Hello @(Model.FirstName)!</h1>

<div>
    <p>You can see your account details below.</p>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.CustomerId">Edit</a>
</div>
<div>
    <a asp-action="Index" asp-controller="CustomerOrder">Orders</a>
</div>
