@using FribergCarRentalsBravo.Models.Customers
@model CustomerViewModel

@{
    ViewData["Title"] = "Back Office";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Hello @(Model.FirstName)!</h1>
    <p class="form-information">You can see your account details below.</p>
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            <a class="route-links-table" href="mailto:@(Model.Email)">@(Model.Email)</a>
        </dd>
    </dl>
    <div>
        <a class="route-links-table" asp-action="Edit" asp-route-id="@Model.CustomerId">Edit Info</a>
        <a class="route-links-table" asp-action="Index" asp-controller="CustomerOrder">Orders</a>
        <form asp-action="Delete" onsubmit="return confirm('Are you sure you want to delete your account?');">
            <input type="hidden" name="id" value="@Model.CustomerId" asp-for="CustomerId" />
            <button type="submit" class="btn btn-danger">Delete your account</button>
        </form>
    </div>
</div>