@using FribergCarRentalsBravo.Models.Orders
@model OrderViewModel

@{
    ViewData["Title"] = "Order";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Order</h1>
    <hr />
    <dl class="row">
        <dt>
            @Html.DisplayNameFor(model => model.OrderDate):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OrderDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CarPickupDate):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarPickupDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CarReturnDate):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CarReturnDate)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RentalCostPerDay):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentalCostPerDay)
        </dd>
    </dl>
    <div>
        <a class="route-links-table" asp-action="Edit" asp-route-id="@Model.CarOrderId">Edit</a>
        <a class="route-links-table" asp-action="Index">Back to List</a>
    </div>
</div>
