@using FribergCarRentals.Models.Other
@using FribergCarRentalsBravo.Models.Orders
@model ListViewModel<OrderViewModel>

@{
    ViewData["Title"] = "Orders";
}

<div class="vertical-page-container">
    <h1>Orders</h1>
    <partial name="/Views/Shared/_UserMessages.cshtml" for="Messages" />
    @if (Model.Count <= 0)
    {
        <p class="text-align-center">No orders found.</p>
    }
    else
    {
        <table class="table">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Models[0].OrderDate)
                    </th>
                    <th>
                        Customer
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Models[0].Car.CarInfo)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Models[0].CarPickupDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Models[0].CarReturnDate)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Models[0].RentalCostPerDay)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Models[0].OrderSum)
                    </th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var order in Model.Models)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => order.OrderDate)
                        </td>
                        <td>
                            <a class="route-links-table"  asp-action="Details" asp-controller="AdminCustomer" asp-route-id="@order.Customer.CustomerId">
                                @Html.DisplayFor(modelItem => order.Customer.FullName)
                            </a>
                        </td>
                        <td>
                            <a class="route-links-table" asp-action="Details" asp-controller="AdminCar" asp-route-id="@order.Car.CarId">
                                @Html.DisplayFor(modelItem => order.Car.CarInfo)
                            </a>                        
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => order.CarPickupDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => order.CarReturnDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => order.RentalCostPerDay)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => order.OrderSum)
                        </td>
                        <td>
                            <a class="route-links-table" asp-action="Edit" asp-route-id="@order.CarOrderId">Edit</a>
                            <a class="route-links-table" asp-action="Details" asp-route-id="@order.CarOrderId">Details</a>
                        </td>
                        <td class="td-end">
                            <form asp-action="Delete" onsubmit="return confirm('Are you sure you want to delete this customer?');">
                                <input type="hidden" name="id" value="@order.CarOrderId" asp-for="@order.CarOrderId" />
                                <button type="submit" class="btn btn-danger">Delete</button>
                            </form>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
</div>
