@using FribergCarRentalsBravo.Models.Orders
@model IEnumerable<OrderViewModel>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CarOrderId)
            </th>
            
            <th>
                @Html.DisplayNameFor(model => model.CarPickupDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CarReturnDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Car)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.CarOrderId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarPickupDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CarReturnDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Car.Brand) @Html.DisplayFor(modelItem => item.Car.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Customer.FirstName) @Html.DisplayFor(modelItem => item.Customer.LastName)
                </td>
            </tr>
        }
    </tbody>
</table>