@using FribergCarRentalsBravo.Models.Cars
@model CarViewModel

@{
    ViewData["Title"] = "Car Details";
}



<div class="vertical-page-container">
    <partial name="/Views/Shared/_UserMessages.cshtml" for="Messages" />
    <h1>Details</h1>    
    <dl class="row filled-container">
            <dt>
                @Html.DisplayNameFor(model => model.IsActiveText):
            </dt>
            <dd>
                @Html.DisplayFor(model => model.IsActiveText)
            </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Brand):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Brand)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Model):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ModelYear):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ModelYear)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Color):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>        
        <dt>
            @Html.DisplayNameFor(model => model.RegistrationNumber):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RentalCostPerDay):
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RentalCostPerDay)
        </dd>
    </dl>
</div>

<div class="d-flex flex-row justify-content-center align-items-center gap-1">
    <a class="route-links-table" asp-action="Edit" asp-route-id="@Model?.CarId">Edit</a>
    <a class="route-links-table" asp-action="Index">Back to List</a>
</div>
