@using FribergCarRentalsBravo.Models.Cars
@model EditCarViewModel

@{
    ViewData["Title"] = "Edit Car";
}

<div class="d-flex flex-column justify-content-center align-items-center">
    <h1>Edit</h1>
    @if (Model.HavePageSubTitle)
    {
        <h2>@Model.PageSubTitle</h2>
    }
    else
    {
        <h2>@($"#{Model.CarId} - {Model.CarInfo}")</h2>
    }
    <hr />
    <partial name="/Views/Shared/_UserMessages.cshtml" for="Messages" />
    <div class="col-md-4">        
        <form asp-action="Edit" enctype="multipart/form-data">
            <input type="hidden" asp-for="CarId" />
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="IsActive" /> @Html.DisplayNameFor(model => model.IsActive)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="SelectedCategoryId" class="control-label">Category</label>
                <select asp-for="SelectedCategoryId" asp-items="@(new SelectList(Model.Categories, nameof(CarCategoryViewModel.CategoryId), nameof(CarCategoryViewModel.CategoryName), Model.SelectedCategoryId))"></select>
                <span asp-validation-for="SelectedCategoryId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Brand" class="control-label"></label>
                <input asp-for="Brand" class="form-control" />
                <span asp-validation-for="Brand" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Model" class="control-label"></label>
                <input asp-for="Model" class="form-control" />
                <span asp-validation-for="Model" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModelYear" class="control-label"></label>
                <input asp-for="ModelYear" class="form-control" />
                <span asp-validation-for="ModelYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Color" class="control-label"></label>
                <input asp-for="Color" class="form-control" />
                <span asp-validation-for="Color" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RegistrationNumber" class="control-label"></label>
                <input asp-for="RegistrationNumber" class="form-control" />
                <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RentalCostPerDay" class="control-label"></label>
                <input type="number" asp-for="RentalCostPerDay" class="form-control" />
                <span asp-validation-for="RentalCostPerDay" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="UploadImages"></label>
                <input asp-for="UploadImages" multiple />
                <span asp-validation-for="UploadImages" class="error-text"></span>
            </div>
            @if (Model.Images.Count > 0)
            {
                <h3 class="text-align-center">Existing Images</h3>
                <div class="container-fluid">
                    @foreach (var imageFile in Model.Images)
                    {
                        <div class="col-sm">
                            <figure>
                                <img class="img-fluid" src="@(imageFile.Url)" />
                                <figcaption class="text-center">@imageFile.FileName</figcaption>
                                <div class="text-center">
                                    <input type="checkbox" name="@($"{nameof(EditCarViewModel.DeleteImages)}")" value="@imageFile.ImageId" />
                                    <span>Delete</span>
                                </div>
                            </figure>
                        </div>
                    }
                </div>
            }
            <div class="form-group d-flex justify-content-center">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="form-group d-flex justify-content-center">
    <a asp-action="List">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
